* {
  margin: 0px;
  padding: 0px;
}

  div {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style-type: none;
  }
