* {
  margin: 0px;
  padding: 0px;
}

.reasons {
  
  display: flex;
  background-color: #fffef7;
  height: 100vh;
  max-width: 100vw;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 100px;

  .reasons__ul {
    margin: 100px;
    display: flex;
    list-style-type: none;
    gap: 50px;
  }
}



